Repository sagarneeli/sagarneeli-portfolio: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint-staged, frontend-type-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: detect-private-key

  # Python backend hooks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.1
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.9.0
    hooks:
      - id: mypy
        files: ^backend/
        args: [--strict]
        additional_dependencies: [
          "fastapi", "pydantic", "starlette", "httpx", "types-PyYAML"
        ]

  # Frontend hooks (run via npm scripts)
  - repo: local
    hooks:
      - id: frontend-lint-staged
        name: frontend-lint-staged
        entry: bash -c 'cd frontend && npx lint-staged'
        language: system
        types: [file]
        files: ^frontend/
        stages: [commit]
      - id: frontend-type-check
        name: frontend-type-check
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        types: [file]
        files: ^frontend/src/.*\.(ts|tsx)$
        stages: [commit]

feat: Add initial configuration files and update backend structure
  backend/alembic/env.py
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/ai.py
  backend/app/api/v1/endpoints/portfolio.py
  backend/app/core/config.py
  backend/app/core/database.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/base.py
  backend/app/models/portfolio.py
  backend/app/services/portfolio_service.py
  backend/package-lock.json
  backend/scripts/init_db.py
  backend/tests/conftest.py
  backend/tests/test_api_endpoints.py
  backend/tests/test_config.py
  backend/tests/test_main.py
  frontend/eslint.config.mjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/__tests__/hero-section.test.tsx
  frontend/src/components/layout/header.tsx
  frontend/src/components/sections/experience-section.tsx
  frontend/src/lib/utils.ts
  frontend/tsconfig.json
  vercel.json
Due: frontend-lint-staged, frontend-type-check

feat: Update Vercel configuration for Next.js deployment
  vercel.json
Due: none

feat: Configure ESLint settings for production builds
  frontend/next.config.js
  frontend/package.json
Due: frontend-lint-staged

chore: Remove unused Next.js configuration file
  frontend/next.config.ts
Due: frontend-lint-staged

remove files
  vercel.json
Due: none

feat: Add Logo component and integrate into Header
  frontend/src/components/brand/Logo.tsx
  frontend/src/components/layout/header.tsx
  frontend/src/components/sections/about-section.tsx
Due: frontend-lint-staged, frontend-type-check

fix(frontend): Resolve failing unit tests and type errors
  README.md
  backend/Dockerfile
  frontend/e2e/home.spec.ts
  frontend/jest.config.js
  frontend/jest.setup.js
  frontend/next.config.js
  frontend/playwright.config.ts
  frontend/postcss.config.js
  frontend/src/app/__tests__/page.test.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/components/__tests__/hero-section.test.tsx
  frontend/src/components/__tests__/theme-toggle.test.tsx
  frontend/src/components/brand/Logo.tsx
  frontend/src/components/layout/footer.tsx
  frontend/src/components/sections/about-section.tsx
  frontend/src/components/sections/contact-section.tsx
  frontend/src/components/sections/experience-section.tsx
  frontend/src/components/sections/hero-section.tsx
  frontend/src/components/sections/projects-section.tsx
  frontend/src/components/sections/skills-section.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/theme-toggle.tsx
  frontend/src/lib/__tests__/utils.test.ts
  frontend/src/lib/utils.ts
  frontend/tailwind.config.ts
Due: frontend-lint-staged, frontend-type-check

ci(frontend): Update npm cache key for frontend tests
  .github/workflows/ci.yml
Due: none

test(frontend): raise unit coverage to >95% (branches ~90%); add interaction tests; fix date utils; expand framer-motion mocks; enforce 80% thresholds; lint+typecheck clean
  Profile.pdf
  frontend/jest.config.js
  frontend/jest.setup.js
  frontend/src/app/__tests__/layout.test.tsx
  frontend/src/components/__tests__/theme-provider.test.tsx
  frontend/src/components/brand/__tests__/Logo.test.tsx
  frontend/src/components/layout/__tests__/footer.links.test.tsx
  frontend/src/components/layout/__tests__/footer.test.tsx
  frontend/src/components/layout/__tests__/header.interactions.test.tsx
  frontend/src/components/layout/__tests__/header.resume.test.tsx
  frontend/src/components/layout/__tests__/header.test.tsx
  frontend/src/components/sections/__tests__/about-section.test.tsx
  frontend/src/components/sections/__tests__/contact-actions.test.tsx
  frontend/src/components/sections/__tests__/contact-section.test.tsx
  frontend/src/components/sections/__tests__/experience-section.test.tsx
  frontend/src/components/sections/__tests__/projects-section.test.tsx
  frontend/src/components/sections/__tests__/skills-section.test.tsx
  frontend/src/components/ui/__tests__/button-aschild.test.tsx
  frontend/src/components/ui/__tests__/button-variants.test.tsx
  frontend/src/components/ui/__tests__/theme-toggle-light.test.tsx
  frontend/src/lib/__tests__/utils.test.ts
  frontend/src/lib/utils.ts
Due: frontend-lint-staged, frontend-type-check

chore(backend): bump sentence-transformers to 3.3.1 for Python 3.11 CI compatibility
  backend/requirements.txt
Due: none

chore(backend): align langchain (0.3.7) with langchain-openai (0.2.8) to resolve langchain-core conflict
  backend/requirements.txt
Due: none

chore(backend): align opentelemetry-instrumentation-fastapi to 0.49b0 to match SDK 1.28.0 (semantic-conventions 0.49b0)
  backend/requirements.txt
Due: none

ci(backend): use CPU PyTorch wheels in CI to stabilize sentence-transformers deps (PIP_EXTRA_INDEX_URL)
  .github/workflows/ci.yml
Due: none

chore(backend): align tooling to Python 3.11 for CI (ruff target-version py311, mypy/black python 3.11; requires-python >=3.11)
  backend/pyproject.toml
Due: none

ci(frontend-e2e): let Playwright manage webServer; remove manual dev server start to avoid port-in-use
  .github/workflows/ci.yml
Due: none

style(backend): fix formatting in ai endpoints to satisfy ruff/black (docstring spacing)
  backend/app/api/v1/endpoints/ai.py
Due: none

ci(security): grant security-events: write and upload SARIF only on push to avoid ‘Resource not accessible by integration’ on PRs
  .github/workflows/ci.yml
Due: none

fix(backend): satisfy tests and harden config
  backend/app/api/v1/endpoints/health.py
Due: none

fix(backend): lint and config polish
  backend/app/api/v1/endpoints/health.py
  backend/pyproject.toml
Due: none

feat: add production environment validation and auto-initialize database
  backend/app/core/config.py
  backend/app/core/database.py
  backend/tests/test_config.py
Due: none

fix(frontend-e2e): use anchors for header nav; de-duplicate ' Download Resume' button; disambiguate social link names for Playwright
  frontend/src/components/layout/footer.tsx
  frontend/src/components/layout/header.tsx
  frontend/src/components/sections/contact-section.tsx
Due: frontend-lint-staged, frontend-type-check

chore(backend): fix Black/Ruff formatting in database.py
  backend/app/core/database.py
  frontend/src/components/__tests__/theme-provider.test.tsx
  frontend/src/components/brand/__tests__/Logo.test.tsx
  frontend/src/components/layout/__tests__/footer.links.test.tsx
  frontend/src/components/layout/__tests__/footer.test.tsx
  frontend/src/components/layout/__tests__/header.interactions.test.tsx
  frontend/src/components/layout/__tests__/header.resume.test.tsx
  frontend/src/components/layout/__tests__/header.test.tsx
  frontend/src/components/sections/__tests__/about-section.test.tsx
  frontend/src/components/sections/__tests__/contact-actions.test.tsx
  frontend/src/components/sections/__tests__/contact-section.test.tsx
  frontend/src/components/sections/__tests__/experience-section.test.tsx
  frontend/src/components/sections/__tests__/projects-section.test.tsx
  frontend/src/components/sections/__tests__/skills-section.test.tsx
  frontend/src/components/sections/contact-section.tsx
  frontend/src/components/ui/__tests__/button-aschild.test.tsx
  frontend/src/components/ui/__tests__/button-variants.test.tsx
  frontend/src/lib/__tests__/utils.test.ts
  frontend/src/lib/utils.ts
Due: frontend-lint-staged, frontend-type-check

fix(backend): normalize skills keys; conditionally set chat c ontext; adjust production settings tests
  backend/app/api/v1/endpoints/ai.py
  backend/app/services/portfolio_service.py
  backend/tests/test_config.py
  frontend/src/components/layout/__tests__/header.interactions.test.tsx
  frontend/src/components/layout/__tests__/header.test.tsx
  frontend/src/components/sections/__tests__/contact-actions.test.tsx
Due: frontend-lint-staged, frontend-type-check

chore(backend): fix Black/Ruff formatting in portfolio_service.py
  backend/app/services/portfolio_service.py
Due: none

ci(frontend): harden Docker build — omit dev deps and ignore scripts; fix ENV syntax
  frontend/Dockerfile
Due: frontend-lint-staged

ci(frontend): install all deps (ignore scripts) for build; fi x ENV syntax; keep runtime minimal
  frontend/Dockerfile
Due: frontend-lint-staged

ci(frontend): enable Next standalone output; install all deps (ignore scripts) during build
  frontend/next.config.js
Due: frontend-lint-staged

ci: fix Docker builds — backend to Python 3.11; frontend inst all all deps (ignore scripts); output standalone; clean ENV
  backend/Dockerfile
Due: none

ci: use 'docker compose' v2 syntax instead of deprecated docker-compose binary
  .github/workflows/ci.yml
Due: none

feat: integrate frontend with backend; update tests for link semantics; fix Docker builds
  frontend/next.config.js
  frontend/src/app/page.tsx
  frontend/src/components/layout/footer.tsx
  frontend/src/components/sections/about-section.tsx
  frontend/src/components/sections/contact-section.tsx
  frontend/src/components/sections/experience-section.tsx
  frontend/src/components/sections/hero-section.tsx
  frontend/src/components/sections/projects-section.tsx
  frontend/src/components/sections/skills-section.tsx
Due: frontend-lint-staged, frontend-type-check

Frontend error fixes
  frontend/src/components/sections/projects-section.tsx
Due: frontend-lint-staged, frontend-type-check

Frontend error fixes
  frontend/src/app/__tests__/page.test.tsx
  frontend/src/app/page.tsx
Due: frontend-lint-staged, frontend-type-check

Fixed linting issues
  frontend/.prettierignore
  frontend/next.config.js
  frontend/src/app/page.tsx
  frontend/src/components/layout/__tests__/header.test.tsx
  frontend/src/components/sections/about-section.tsx
  frontend/src/components/sections/contact-section.tsx
  frontend/src/components/sections/experience-section.tsx
  frontend/src/components/sections/projects-section.tsx
Due: frontend-lint-staged, frontend-type-check

Fixed backend docker issues
  backend/Dockerfile
  backend/Dockerfile.dev
  backend/requirements.txt
Due: none

Fixed frontend build failures
  frontend/tsconfig.json
Due: frontend-lint-staged

test: add E2E test reports and update portfolio documentation
  README.md
  frontend/playwright-report/index.html
  frontend/src/app/page.tsx
  frontend/test-results/.last-run.json
Due: frontend-lint-staged, frontend-type-check

Fixed build error
  frontend/playwright-report/index.html
  frontend/src/app/page.tsx
  frontend/test-results/.last-run.json
  frontend/tsconfig.json
Due: frontend-lint-staged, frontend-type-check

frontend: fix TS path alias resolution for CI (add baseUrl, adjust paths)
  frontend/tsconfig.json
Due: frontend-lint-staged
